/* ESTILOS GLOBAIS (Aluno 1) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* [ALUNO 1] - ESTILOS DO CABEÇALHO */
.site-header {
    background-color: #32502c;
    color: white;
    padding: 1.5rem;
}

/* [ALUNO 2] - ESTILOS DO MAIN */
.main-content {
    flex: 1;
    padding: 2rem;
}

/* [ALUNO 3] - ESTILOS DO FOOTER */
.site-footer {
    background-color: #32502c;
    color: white;
    padding: 1.5rem;
}